@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #272727;
  color: white;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
}

h1 {
  margin: 2rem;
}

.squares {
  background: #272727;
  border: none;
  font-weight: bolder;
  font-size: 5rem;
  cursor: pointer;
  outline: none;
}

.X {
  color: rgb(238, 141, 214);
}
.O {
  color: rgb(192, 235, 123);
}

.board {
  border: 1rem solid #b9b9b9;
  background: #b9b9b9;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 1rem;
}

.info-wrapper {
  display: flex;
  justify-content: space-between;
}

h3 {
  padding: 1rem;
}

li {
  list-style: none;
}

.info-wrapper button {
  background: #474747;
  color: white;
  border: solid 1px;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  padding: 0.5rem;
  margin: 0.5rem 1rem;
}
